* {
  transition: all 0.3s ease-in-out;
}

.wrapper {
  height: 160px;
  width: 46px; /* 46% of 100px */
  position: relative;
  display: flex;
  justify-content: center;
}

/* Ball Style */
.ball {
  position: absolute;
  top: 0;
  width: 48px; /* 46% of 100px */
  height: 48px; /* 46% of 100px */

  border-radius: 50%;
  box-shadow: inset 0 -4.6px 9.2px gray; /* 46% of original values */
  animation: none; /* 초기에는 애니메이션 없음 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.ball.animate {
  animation: bounce 0.7s cubic-bezier(0.49, 0, 0.89, 0.74) infinite alternate;
}

/* Shadow Style */
.shadow {
  position: absolute;
  top: 180px; /* 46% of 400px */
  height: 8px; /* 46% of 20px */
  width: 48px; /* 46% of 100px */

  border-radius: 50%;

  z-index: -1;
  animation: none; /* 초기에는 애니메이션 없음 */
}

.shadow.animate {
  animation: shadow 0.7s cubic-bezier(0.49, 0, 0.89, 0.74) infinite alternate;
}

/* Ball Bounce Animation */
@keyframes bounce {
  0% {
    transform: translateY(0px);
    height: 48px; /* 46% of 100px */
    width: 48px; /* 46% of 100px */
  }

  75% {
    height: 48px; /* 46% of 100px */
    width: 48px; /* 46% of 100px */
  }

  90% {
    height: 42px; /* 46% of 95px */
    width: 48px; /* 46% of 105px */
  }

  100% {
    transform: translateY(148px); /* 46% of 320px */
    height: 42x; /* 46% of 90px */
    width: 52px; /* 46% of 110px */
  }
}

/* Shadow Animation */
@keyframes shadow {
  0% {
    opacity: 0.1;
    width: 52px; /* 46% of 110px */
    height: 8px; /* 46% of 20px */
  }

  80% {
    opacity: 0.4;
    width: 42px; /* 46% of 90px */
    height: 6px; /* 46% of 15px */
  }

  100% {
    opacity: 0.5;
    width: 36px; /* 46% of 80px */
    height: 4px; /* 46% of 10px */
  }
}
